@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "RoseSally";
  src: url("/fonts/RoseSally.otf") format("opentype");
}

@font-face {
  font-family: "American";
  src: url("/fonts/AmericanPurpose.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "RoseSally", sans-serif;
  color: #f2e9e4;
  background: url("/animations/minimal_dark_waves.svg") repeat;
  background-size: cover;
  background-attachment: fixed;
}
