@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "RoseSally";
  src: url("/fonts/RoseSally.otf") format("opentype");
}
@font-face {
  font-family: "Milker";
  src: url("/fonts/Milker.otf") format("opentype");
}

@font-face {
  font-family: "American";
  src: url("/fonts/AmericanPurpose.ttf") format("truetype");
}
body {
  font-family: "RoseSally", sans-serif;
  background: #0f172a; /* fallback */
  overflow-x: hidden;
}

.hero {
  position: relative;
  z-index: 10; /* gjør hero innhold foran bølge/stjerner */
}

.wave-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none; /* viktig */
}

.wave-scroll {
  width: 5760px;
  height: 100%;
  animation: waveMove 55s linear infinite; /* raskere enn 35s */
}

@keyframes waveMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2880px); /* flytt én bølgelengde */
  }
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  pointer-events: none; /* viktig */
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite alternate;
}

/* gjør at stjernene blinker litt forskjellig */
.star:nth-child(odd) {
  animation-duration: 3s;
}
.star:nth-child(even) {
  animation-duration: 5s;
}

@keyframes twinkle {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  height: 100%; /* Sørger for at body dekker hele skjermen */
  margin: 0;
  padding: 0;
}

main {
  min-height: 100%; /* dekker alt innhold */
  display: block;
}
