.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/animations/minimal_dark_waves.svg") no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #f2e9e4;
}

.title {
  font-size: 6rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #f2e9e4;
  width: 17ch;
  display: inline-block;
  animation: typingTitle 3s steps(28, end), blink 0.8s step-end infinite;
}

.subtitle {
  font-size: 4rem;
  margin-bottom: 2rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #f2e9e4;
  width: 10ch;
  display: inline-block;
  animation: typingSubtitle 3s steps(28, end), blink 0.8s step-end infinite;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.exploreBtn {
  padding: 0.85rem 3rem;
  font-size: 1.5rem;
  font-family: "American", sans-serif; /* Nå bruker bare knappen Poppins */
  border: 4px solid #f2e9e4;
  background: transparent;
  color: #f2e9e4;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  border-radius: 1rem;
}

.exploreBtn:hover {
  font-family: "American", sans-serif; /* Nå bruker bare knappen Poppins */
  background: #f2e9e4;
  color: #0a0a0d;
}

@font-face {
  font-family: "American";
  src: url("/fonts/AmericanPurpose.ttf");
}
@keyframes typingTitle {
  from {
    width: 0ch;
  }
  to {
    width: 19ch;
  }
}

@keyframes typingSubtitle {
  from {
    width: 0ch;
    opacity: 1;
  }
  to {
    width: 20ch;
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
